
body {
    background-color: #F2F2F2;
    padding-right:  50px;
    padding-top: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 300px;
}

#main-container {
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1500px 1500px 800px 400px;
    grid-gap: 50px;
}

/********************************************************************************************************/

#desktop {
    margin-top: 100px;
    padding-top: 120px;
    width: 1440px;
    height: 1832px;
    background-color: #ffffff;
    background-image: url('bg-main-desktop.png');
    margin-left: 50px;
}

#logo-desktop {
    width: 146.09px;
    height: 32px;
    margin-left: 13%;
}


h1 {
    width:1015px;
    height: 176px;
    font-size: 88px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 200px;
}

#header-1 {
    width:825px;
    height: 102px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    word-spacing: -1px;
    padding-left: 200px;
    padding-top: 50px;
}

#iphone {
    position: absolute;
    width: 312px;
    margin-top: 100px;
    margin-left: 234px;
    height: 642px;
    z-index: 1;
}


#box-1 {
    width:1110px;
    height: 600px;
    background-color: #191826;
    border-radius: 20px;
    margin-top: 280px;
    margin-left: 170px;
    position: absolute;
}

#box-2 {
    width: 446px;
    height: 625px;
    background-color: #fa7453;
    border-radius: 20px;
    margin-top: 380px;
    margin-left: 680px;
    position: absolute;
}

#box-2-text-2 {
    width: 333px;
    height: 170px;
    letter-spacing: 0px;
    text-align: start;
    font-size: 20px;
    line-height: 34px;
    margin-right: 20px;
    margin-left: 60px;
    color: #FCFAF9;
}

#box-2-text-1 {
    padding-left: 54px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: -5px;
}

#box-2-text-3 {
    color: #FCFAF9;
    text-align: center;
    margin-left: -190px;
}

#right-top {
    position:absolute;
    margin-top: -120px;
    display: flex;
    width: 312px;
    height: 468px;
    margin-left: 1127px;
}


#pattern-2 {
    width: 312px;
    height: 468;
    margin-left: 296px;
}


#text {
    text-align: center;
    transform: rotate(-42deg);
    line-height: 45px;
    font-family: sans-serif;
    font-size: 56px;
    margin-top: 30px;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#text-2 {
    transform: rotate(-42deg);
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    color: #9e9b9b;
}


#ios-button {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #191826;
    color: #FCFAF9;
}

#ios-img {
    display: flex;
    height: 20px;
    width: 17.08px;
    margin-right: 8px; 
    margin-bottom: 4px;
}

#android-button {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #FCFAF9;
    color: #191826;
}

#android-img {
    height: 20px;
    width: 16.7px;
    margin-right: 8px;
}

#facebook {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#instagram {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#tweeter {
    width: 20px;
    height: 20px;
}





/************************************************************************************/

#desktop-active {
    margin-top: 100px;
    width: 1440px;
    height: 1832px;
    background-color: #ffffff;
    background-image: url('bg-main-desktop.png');
    padding-top: 120px;
}

#logo-desktop-active {
    width: 146.09px;
    height: 32px;
    margin-left: 13%;
}


h1 {
    width:1015px;
    height: 176px;
    font-size: 88px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 200px;
}

#header-1-active {
    width:825px;
    height: 102px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    word-spacing: -1px;
    padding-left: 200px;
    padding-top: 50px;
}

#iphone-active {
    position: absolute;
    width: 312px;
    margin-top: 100px;
    margin-left: 234px;
    height: 642px;
    z-index: 1;
}


#top-active {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: -120px;
}

#box-1-active {
    width:1110px;
    height: 600px;
    background-color: #191826;
    border-radius: 20px;
    margin-top: 280px;
    margin-left: 170px;
    position: absolute;
}

#box-2-active {
    width: 446px;
    height: 625px;
    background-color: #fa7453;
    border-radius: 20px;
    margin-top: 380px;
    margin-left: 680px;
    position: absolute;
}

#box-2-text-2-active {
    width: 333px;
    height: 170px;
    letter-spacing: 0px;
    text-align: start;
    font-size: 20px;
    line-height: 34px;
    margin-right: 20px;
    margin-left: 60px;
    color: #FCFAF9;
}

#box-2-text-1-active {
    padding-left: 54px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: -5px;
}

#box-2-text-3-active {
    color: #FCFAF9;
    text-align: center;
    margin-left: -190px;
}

#right-top-active {
    position:absolute;
    margin-top: -120px;
    display: flex;
    width: 312px;
    height: 468px;
    margin-left: 1127px;
}


#pattern-2-active {
    width: 312px;
    height: 468;
    margin-left: 296px;
}


#text-active {
    text-align: center;
    transform: rotate(-42deg);
    line-height: 45px;
    font-family: sans-serif;
    font-size: 56px;
    margin-top: 30px;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#text-2-active {
    transform: rotate(-42deg);
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    color: #9e9b9b;
}


#ios-button-active {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #191826;
    color: #FCFAF9;
}

#ios-button-active:hover {
    background-color: #66E2DC;
    cursor: pointer;
}

#ios-img-active {
    display: flex;
    height: 20px;
    width: 17.08px;
    margin-right: 8px; 
    margin-bottom: 4px;
}

#android-button-active {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #FCFAF9;
    color: #191826;
}

#android-button-active:hover {
    background-color: #FFB964 ;
    cursor: pointer;
}

#android-img-active {
    height: 20px;
    width: 16.7px;
    margin-right: 8px;
}

#facebook-active {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#facebook-active:hover {
    filter: contrast(hsl 12, 94% 65%);
   
    cursor: pointer;
}

#instagram-active {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#tweeter-active {
    width: 20px;
    height: 20px; 
}


/***********************************************************************************************************************/
#tablet {
    margin-top: 100px;
    width: 768px;
    height: 1781px;
    background-color: #ffffff;
    background-image: url('bg-main-tablet.png');
    padding-top: 150px;
}

#logo-tablet {
    width: 146.09px;
    height: 32px;
    margin-left: 7%;
    margin-top: -10px;
    padding-bottom: 10px;
}


#h1-tablet {
    width:520px;
    height: 192px;
    font-size: 64px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 50px;
}

#header-1-tablet {
    width:514px;
    height: 112px;
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    word-spacing: -1px;
    padding-left: 50px;
    padding-top: 50px;
    margin-top: 50px;
}

#iphone-tablet {
    position: absolute;
    width: 270.21px;
    margin-top: 100px;
    margin-left: 80px;
    height: 556px;
    z-index: 1;
}


#right-top-tablet {
    display: absolute;
    font-size: 17px;
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
}

#box-1-tablet {
    width:696px;
    height: 600px;
    background-color: #191826;
    border-radius: 20px;
    margin-top: 250px;
    margin-left: 40px;
    position: absolute;
}

#box-2-tablet {
    width: 399px;
    height: 546px;
    background-color: #fa7453;
    border-radius: 20px;
    margin-top: 380px;
    margin-left: 258px;
    position: absolute;
    z-index: 5;
}

#box-2-text-2-tablet {
    padding-bottom: 30px;
    width: 302px;
    height: 140px;
    letter-spacing: 0px;
    text-align: start;
    font-size: 20px;
    margin-top: 20px;
    line-height: 28px;
    margin-right: 20px;
    margin-left: 30px;
    color: #FCFAF9;
}

#box-2-text-1-tablet {
    padding-left: 30px;
    width: 302px;
    height: 40px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 32px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: -5px;
}

#box-2-text-3-tablet {
    color: #FCFAF9;
    text-align: center;
    margin-left: -190px;
}

#bg-pattern-1-tablet {
    position:absolute;
    margin-top: -132px;
    width: 266.67px;
    height: 400px;
    margin-left: 470px;
}


#pattern-2-tablet {
    width: 280px;
    height: 420;
    margin-left: 210px;
    margin-top: -30px;
}


#text-tablet {
    text-align: center;
    transform: rotate(-42deg);
    line-height: 45px;
    font-family: sans-serif;
    font-size: 56px;
    margin-top: 30px;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#text-2-tablet {
    transform: rotate(-42deg);
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    color: #9e9b9b;
}


#ios-button-tablet {
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 296px;
    height: 61px;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    background: #191826;
    color: #FCFAF9;
}

#ios-img-tablet {
    display: flex;
    height: 20px;
    width: 17.08px;
    margin-right: 8px; 
    margin-bottom: 4px;
}

#android-button-tablet {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 296px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin-left: 30px;
    background: #FCFAF9;
    color: #191826;
}

#android-img-tablet {
    height: 20px;
    width: 16.7px;
    margin-right: 8px;
}

#facebook-tablet {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#instagram-tablet {
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
}

#tweeter-tablet {
    width: 20px;
    height: 20px;
   
}


#footer {
    display: grid; 
    width: 696px;
    height: 143px;
    grid-template-columns: 100px 2fr 200px; 
    grid-gap: 10px; 
    margin-left: 80px; 
    align-items: center; 
    justify-content: center; 
    font-size: 20px; 
    margin-top: 1090px;
}


/*******************************************************************************************************************/

#mobile {
    margin-top: 100px;
    width: 375px;
    height: 1945px;
    background-color: #ffffff;
    background-image: url('bg-main-tablet.png');
    margin-left: 50px;
    padding-top: 110px;
}

#logo-mobile {
    width: 146.09px;
    height: 32px;
    margin-bottom: 30px;
    margin-left: 20px;
}

#h1-mobile {
    width:327px;
    height: 144px;
    font-size: 40px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 50px;
    line-height: 48px;
    margin-left: -20px;
}

#header-1-mobile {
    width: 327px;
    height: 156px;
    padding-left: 30px;
    margin-top: 30px;
}

#iphone-mobile {
    position: absolute;
    width: 208.97px;
    margin-top: 70px;
    margin-left: 80px;
    height: 430px;
    z-index: 1;
}


#top-mobile {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    margin-bottom: 40px;
}

#box-1-mobile {
    width:375px;
    height: 600px;
    background-color: #191826;
    border-radius: 20px;
    margin-top: 220px;
    position: absolute;
}

#box-2-mobile {
    width: 375px;
    height: 546px;
    background-color: #fa7453;
    border-radius: 20px;
    margin-top: 590px;
    margin-left: 0;
    position: absolute;
    z-index: 5;
}

#box-2-text-2-mobile {
    padding-bottom: 30px;
    width: 302px;
    height: 140px;
    letter-spacing: 0px;
    text-align: start;
    font-size: 20px;
    margin-top: 20px;
    line-height: 28px;
    margin-right: 20px;
    margin-left: 30px;
    color: #FCFAF9;
}

#box-2-text-1-mobile {
    padding-left: 30px;
    width: 302px;
    height: 40px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 32px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: -5px;
}

#box-2-text-3-mobile {
    color: #FCFAF9;
    text-align: center;
    margin-left: -190px;
}

#bg-pattern-1-mobile {
    position:absolute;
    margin-top: -1px;
    width: 266.67px;
    height: 400px;
    margin-left: 500px;
}


#pattern-2-mobile {
    width: 280px;
    height: 420;
    margin-left: 10%;
    margin-top: 0%;
}


#text-mobile {
    text-align: center;
    transform: rotate(-42deg);
    line-height: 45px;
    font-family: sans-serif;
    font-size: 56px;
    margin-top: 30px;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#text-2-mobile {
    transform: rotate(-42deg);
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    color: #9e9b9b;
}


#ios-button-mobile {
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 296px;
    height: 61px;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    background: #191826;
    color: #FCFAF9;
}

#ios-img-mobile {
    display: flex;
    height: 20px;
    width: 17.08px;
    margin-right: 8px; 
    margin-bottom: 4px;
}

#android-button-mobile {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 296px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin-left: 30px;
    background: #FCFAF9;
    color: #191826;
}

#android-img-mobile {
    height: 20px;
    width: 16.7px;
    margin-right: 8px;
}

#facebook-mobile {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#instagram-mobile {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#tweeter-mobile {
    width: 20px;
    height: 20px;
}


#footer-mobile {
    display: grid; 
    width: 327px;
    height: 169px;
    grid-template-columns: 100px;  
    margin-left: 60px; 
    margin-top: 1240px;
}

