
body {
    background-color: #F2F2F2;
    padding-right:  50px;
    padding-top: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 300px;
}

#main-container {
    display: grid;
    grid-template-columns: 2000px 2000px 2000px 2000px;
}

#desktop {
    margin-top: 100px;
    width: 1440px;
    height: 1832px;
    background-color: #ffffff;
    background-image: url('bg-main-desktop.png');
    margin-left: 50px;
}


h1 {
    width:1015px;
    height: 176px;
    font-size: 88px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 200px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    word-spacing: -1px;
    padding-left: 200px;
}

#header-1 {
    width:825px;
    height: 102px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    word-spacing: -1px;
    padding-left: 200px;
    padding-top: 50px;
}

#iphone {
    position: absolute;
    width: 312px;
    margin-top: 100px;
    margin-left: 234px;
    height: 642px;
    z-index: 1;
}


#top {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    margin-bottom: 40px;
}

#box-1 {
    width:1110px;
    height: 600px;
    background-color: #191826;
    border-radius: 20px;
    margin-top: 280px;
    margin-left: 170px;
    position: absolute;
}

#box-2 {
    width: 446px;
    height: 625px;
    background-color: #fa7453;
    border-radius: 20px;
    margin-top: 380px;
    margin-left: 680px;
    position: absolute;
}

#box-2-text-2 {
    width: 333px;
    height: 170px;
    letter-spacing: 0px;
    text-align: start;
    font-size: 20px;
    line-height: 34px;
    margin-right: 20px;
    margin-left: 60px;
    color: #FCFAF9;
}

#box-2-text-1 {
    padding-left: 54px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: -5px;
}

#box-2-text-3 {
    color: #FCFAF9;
    text-align: center;
    margin-left: -190px;
}

#right-top {
    position:absolute;
    margin-top: -40px;
    display: flex;
    width: 312px;
    height: 468px;
    margin-left: 1300px;
}

#right-top-1 {
    position: absolute;
    margin-top: 40px;
    width: 156px;
    height: 271.5px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #66E2DC;
}

#right-top-2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 50%;
    width: 78px;
    height: 120px;
    border-bottom-left-radius: 39px;
    border-bottom-right-radius: 39px;
    background-color: #191826;
}

#right-top-3 {
    position: absolute;
    margin-top: 40px;
    margin-left: 75%;
    width: 78px;
    height: 39px;
    border-bottom-left-radius: 39px;
    border-bottom-right-radius: 39px;
    background-color: #FA7453;
}

#right-top-4 {
    position: absolute;
    margin-top:25%;
    margin-left: 75%;
    width: 78px;
    height:78px;
    border-radius: 50%;
    background-color: #FFB964;
}

#right-top-5 {
    position: absolute;
    margin-top: 63%;
    margin-left: 50%;
    width: 78px;
    height:78px;
    border-radius: 50%;
    border: 1px solid #191826;
}

#right-top-6 {
    position: absolute;
    margin-top: 49.5%;
    margin-left: 50%;
    width: 156px;
    height:156px;
    border-radius: 50%;
    border: 1px solid #191826;
}

#right-top-7 {
    margin-top: 100%;
    position: absolute;
    width: 156px;
    height:156px;
    border-radius: 50%;
    background-color: #fa7453;
}

#right-top-8 {
    position: absolute;
    margin-top: 100%;
    margin-left: 50%;
    width: 156px;
    height:156px;
    border-radius: 50%;
    background-color: #191826;
    border-top-left-radius: 2px;
}

#rec-1 {
    width:80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 540px;
    position: absolute;
}
#rec-2 {
    width:150px;
    height: 150px;
    background-color: #ffb964;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 470px;
    position: absolute;
}
#rec-3 {
    width:110px;
    height: 110px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-top: 250px;
    margin-left: 490px;
    position: absolute;
}
#rec-4 {
    width:80px;
    height: 80px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-top: 280px;
    margin-left: 500px;
    position: absolute;
}
#rec-5 {
    width:120px;
    height: 190px;
    background-color: #66e2dc;
    border-radius: 60px;
    margin-top: 28px;
    margin-left: 620px;
    position: absolute;
}

#spheres {
    margin-left: -160px;
}


#text {
    text-align: center;
    transform: rotate(-42deg);
    line-height: 45px;
    font-family: sans-serif;
    font-size: 56px;
    margin-top: 30px;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#text-2 {
    transform: rotate(-42deg);
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    color: #9e9b9b;
}


#ios-button {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #191826;
    color: #FCFAF9;
}

#ios-img {
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 8px; 
    margin-bottom: 4px;
}

#android-button {
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    border-style: none;
    width: 333px;
    height: 61px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background: #FCFAF9;
    color: #191826;
}

#android-img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

#facebook {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

#instagram {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#tweeter {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}





/************************************************************************************/




#desktop-active {
    margin-top: 100px;
    width: 1613px;
    height: 1958px;
    background-image: url('bg-main-desktop.png');
    background-color: #ffffff;
    margin-left: 50px;
}
    