*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f2f2f2;
    margin-top: 100px;
}


/********************************************************************************************************/
#container {
    position: relative;
    width: 1440px;
    height: 1832px;
    background-image: url('bg-main-desktop.png');
    margin: auto;
}


h1 {
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    letter-spacing: -1px;
}

#main-header {
    left: 8%;
    top: 10%;
    position: absolute;
    width: 1015px;
    height: 176px;
}


#phrase {
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
}

#h2-container {
    width: 825px;
    height: 102px;
    position: absolute;
    top: 25%;
    left: 15%;
}

#logo {
    position: absolute;
    margin: auto;
    width: 147px;
    height: 32px;
    left: 15%;
    top: 4%;
}


#pattern-1-img {
    position: absolute;
    right: 0%;
    width: 312px;
    height: 428px;
}
 

#iphone {
    top: 33%;
    left: 21%;
    width: 369px;
    height: 742px;
    position: absolute;
    z-index: 1;
}

#pattern-2-box {
    position: absolute;
    left: 15%;
    top: 50%;
    width: 1110px;
    height: 600px;
    background-color: #191826;
}

#pattern-2 {
    margin-top: -50px;
    width:312px;
    height: 468px;
    position: absolute;
    left: 389px;
}

#box-2 {
    position: absolute;
    top: 55%;
    left: 51%;
    width: 446px;
    height: 625px;
    background-color: #FA7453;
}

#premium {
    position: absolute;
    margin: auto;
    color: #FCFAF9;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    top: 3%;
    left:12%;
}

#box-2-text-1 {
    position: absolute;
    font-size: 20px;
    text-align: left;
    line-height: 34px;
    color: #FCFAF9;
    top: 20%;
    left: 12%;
}

#ios-button {
    position: absolute;
    background-color: #191826;
    color: #FCFAF9;
    font-size: 18px;
    font-weight: 700;
    width: 333px;
    height: 61px;
    border-style: none;
    border-radius: 10px;
    bottom: 22%;
    left: 12%;
}

#android-button {
    position: absolute;
    background-color: #FCFAF9;
    color: #191826;
    font-size: 18px;
    font-weight: 700;
    width: 333px;
    height: 61px;
    border-style: none;
    border-radius: 10px;
    bottom: 10%;
    left: 12%;
}

#footer {
    width: 1210px;
    height: 79px;
    position: absolute;
    left: 15%;
    bottom: 0;
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    
}

#footer-text {
    font-size: 16px;
    margin-left: -20px;
}

#footer-img {
    width: 147px;
    height: 32px;
}

#icons{
    display: flex;
    margin: auto;
    height: 20px;
    width: 100px;
    align-items: center;
    justify-content:space-between;
}

#facebook, #instagram, #twitter {
    width: 20px;
    height: 20px;
}

#price-box {
    position: absolute;
    top: 47%;
    left: 12%;
    display: flex;
}

span {
    position: absolute;
    color: #FCFAF9;
    top: 20%;
}

/**************/

@media (hover: hover) {
    #ios-button:hover {
        background-color: #66E2DC;
        color: #FCFAF9;
        cursor: pointer;
    }

    #android-button:hover {
        background-color: #FFB964;
        color: #191826;
        cursor: pointer;
    }

    #facebook {
        cursor: pointer;
    }
}